@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  div {
    @apply hover:cursor-default
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components{
  .input-box {
    @apply bg-slate-800 outline-none ring-2 ring-sky-500 focus:ring-white rounded-md transition p-3 
  }

  .button-box{
    @apply rounded-md border-2 border-sky-500 w-[68px] hover:border-white transition text-sm
  }
}